<div class="container" style="margin-top:50px;">
   <%= render partial: "layouts/shared/flash_msg" %> 
  <div class="row form_row">
       <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post,:class => "form-signin1 mg-btm"  }, validate: true) do |f| %>
          <h3 class="heading-desc">
        Resend confirmation instructions</h3>
        <%= devise_error_messages! %>
        <div class="main">  
          <%= f.email_field :email, autofocus: true ,:class => "form-control",:placeholder => "Email",:value => (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)  %>  
        <span class="clearfix"></span>  
            </div>
        <div class="login-footer">
        <div class="row">
          <div class="col-xs-4 col-md-4">
               <div class="left-section">
               <%= link_to "Login", login_path %> or <%= link_to "Sign up now", register_path %>
              </div>
              </div> <div class="col-xs-1 col-md-1"></div>
              <div class="col-xs-6 col-md-6 pull-right">
               <%= f.submit 'Resend instructions' ,:class => "btn btn-default-dark btn-sm col-xs-4  pull-right" %>
              </div>
          </div>
     </div>
    <% end %>
  </div>
</div>
