<footer class="footer">
  <div class="container">
    <div class="row" style="margin-bottom:5px;">
      <div class="hidden-xs col-sm-6 col-md-3 col-lg-3">
         <p class="uppercase semibold pull-left" style="padding-top: 9px;margin-bottom: 10px;">
            Powered By <a class="animate" href="http://www.coderabbits.com/" target="_blank"> CODERABBITS</a>
      </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <p class="uppercase semibold pull-right-sm" style="padding-top: 9px;margin-bottom: 10px;">
        <%= @setting.present?  ? "#{@setting.company_name}" : "COMPANYNAME" %> © 2015 all right reserved.
      </p>
      </div>
       <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
         <div class="social-icons">
          <ul>
             <li class="animate"><%= link_to '<i class="fa fa-lock"></i>'.html_safe, "http://admin.#{ request.domain }/login",:target =>"_blank" ,:title => "login"%></li>
             <% if @setting.present? %>
                <% if @setting.fb_link.present? %>
                  <li class="animate"><a target="_blank" rel="nofollow" href="<%= @setting.fb_link %>" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  </a>
                <% end %>
                <% if @setting.tw_link.present? %>
                  <li class="animate"><a target="_blank" rel="nofollow" href="<%= @setting.tw_link %>" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <% end %>
                <% if @setting.gp_link.present? %>
                  <li class="animate"><a target="_blank" rel="nofollow" href="<%= @setting.gp_link %>" title="GooglePlus"><i class="fa fa-pinterest"></i></a></li>
                <% end %>
                <% if @setting.pt_link.present? %>
                  <li class="animate"><a target="_blank" rel="nofollow" href="<%= @setting.pt_link %>" title="PInterest"><i class="fa fa-pinterest"></i></a></li>
                <% end %>
              <% end %>  
          </ul>
        </div>
      </div>
      <!-- Text -->
    </div>
  </div>
</footer>



<style>
@media (min-width: 992px) {
    .pull-right-sm {
        float: right;
    }
}
</style>