<header class="sticky" style="z-index:150000 !important;">
 <% content_for(:head) do %>
 <script type="text/javascript" charset="utf-8">
  alert("hi");
 </script>
 <% end %>
<nav class="navbar navbar-default navbar-static-top b-shadow" style="background-color:white;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <div class="logo">
        <!-- Navigation Logo Link -->
        <a href="http://<%= request.domain %>" class="scroll">
          <!-- Your Logo -->
           <img src="http://www.coderabbits.com/assets/coderabbits_logo-e3406990bc5560ce653453f3fdc04bdb.jpg" alt="site_logo">
        </a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
<!--         <li class="dropdown"> <a href="#home" class="dropdown-toggle scroll" data-hover="dropdown" data-delay="100"> Home <b class="caret"></b></a> 
        ======= SUB MENU =========       
          <ul class="dropdown-menu">
            <li><a href="index.html">Home One</a></li>
            <li><a href="index-2.html">Home Two</a></li>
          </ul>
        </li> -->
        
         <li><a href="http://<%= request.domain%>" class="scroll">HOME</a></li>
        <li><a href="http://<%= "#{ request.domain}#products"%>" class="scroll">PRODUCTS</a></li>
        <li><a href="http://<%= "#{request.domain}#services" %>" class="scroll">SERVICES</a></li>
        <li><a href="http://<%= "#{request.domain}#dev_tools" %>" class="scroll">DEV TOOLS</a></li>
        <!-- <li><a href="<%= "#{request.domain}#our-team" %>" class="scroll">TEAM</a></li>
        <li><a href="#blog" class="scroll">Blog</a></li> -->
        <li><a href="http://<%= "#{request.domain}#clients" %>" class="scroll">CLIENTS</a></li>
         <li><a href="http://<%= "#{request.domain}" %>/company" class="scroll">COMPANY</a></li>
        <li><a href="http://<%= "#{request.domain}#contact" %>" class="scroll">CONTACT</a></li>
        <li><a href="#">BLOG</a></li>
      </ul>
      <div id="sb-search" class="sb-search">
          <a href="http://<%= "#{request.domain}" %>/company/career"%>"><span class="sb-icon-search" style="font-weight:bold;">We're Hiring</span></a>
      </div>
        </div><!--/.nav-collapse -->
  </div>
</nav>
</header>

<style type="text/css">
  .shade-section{
    margin-top:77px;
  }
  .navbar-nav li a {
    font-size: 13px;
    font-weight: 600;
}
.sb-search {
  position: relative;
  margin-top: 10px;
  width: 0%;
  min-width: 126px;
  height: 60px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;                                                                                                                                                                                                                           
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}
.sb-icon-search,
.sb-search-submit  {
  width: 128px;
  height: 52px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
}                                                                                                                                                                                .logo {
    width: auto;
    height: auto;
    position: relative;
    left: 0;
    top: 50%;
    float: left;
    padding: 13px 0px 13px 0px;
}
.logo a img {
    max-height: 50px;
}
.navbar-nav > li > a {
    padding-top: 28px;
    padding-bottom: 28px;
}
@media(min-width: 1080px) {
.navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
} 
}            
@media (min-width: 1200px) {
  .navbar-nav > li > a {
padding-top: 28px;
padding-bottom: 28px;
}
}            
</style>