
<script>
$(function() { $('form[data-validate]').validate(); })
</script>



<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
             <%= link_to 'Settings', settings_path,:class => " ",:style => "" %> 
           </h3>
          </div>
      </div>
  </div>
  <!-- /.row -->

<div class="post-form clearfix ">

<div id="main-col" class="">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
           <div class="row">
                <div class = "col-sm-6 col-xs-12">
                     <%= f.label :email,"Email" %>
                    <%= f.email_field :email,:disabled => true,:class => "form light-form" %>        
                  </div>
                <div class = "col-sm-6 col-xs-12">
                    <%= f.label :current_password,"Current Password" %>
                    <%= f.password_field :current_password, autocomplete: "off",:class => "form light-form" %>
                  </div><br />
              </div>
               <div class="row">
                <div class = "col-sm-6 col-xs-12">
                    <%= f.label :password,"Password" %>
                    <%= f.password_field :password, autocomplete: "off",:class => "form light-form" %>
                  </div>
                <div class = "col-sm-6 col-xs-12">
                    <%= f.label :password_confirmation,"Confirm New Password" %>
                    <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form light-form" %>
                  </div><br />
              </div>

          <div class="actions">
            <%= f.submit "UPDATE" ,:class => "btn btn-default-dark col-xs-3 btn-xs" %>
          </div>
        <% end %>
</div>
</div>