<div class="container" style="">
   <%= render partial: "layouts/shared/flash_msg" %> 
  <div class="row form_row">
<div class="post-form clearfix ">
<div class="">
<div id="main-col" class="woocommerce woocommerce-page col-xs-12 col-sm-12 col-md-12"><%= action_name %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => "form-signin mg-btm"  }, validate: true) do |f| %>
    <h3 class="heading-desc" style ="padding-left: 0px;">
    Sign up</h3>
      <%= devise_error_messages! %><br/>
     <div class=" main" id="customer_details" style ="padding: 0px 0px 0px 37px;">
        <div class="">
          <div class="woocommerce-shipping-fields">
                  
            <div class="shipping_address" style="display: block;">  
      
              <p class="form-row form-row-first validate-required" id="shipping_first_name_field"><label for="shipping_first_name" class="">Name <abbr class="required" title="required">*</abbr></label>
              <%= f.text_field :name,:class => "input-text", autofocus: true %></p>
            
              <p class="form-row form-row-last validate-required" id="shipping_last_name_field"><label for="shipping_last_name" class="">Designation <abbr class="required" title="required">*</abbr></label><%= f.text_field :designation,:class => "input-text"%></p><div class="clear"></div>
            
              <p class="form-row form-row-wide" id="shipping_company_field"><label for="shipping_company" class="">Email <abbr class="required" title="required">*</abbr></label><%= f.email_field :email ,:class => "input-text",:style => "width:100%;" %></p>
            
              <p class="form-row form-row-wide address-field validate-required" id="shipping_address_1_field"><label for="shipping_address_1" class="">Password <abbr class="required" title="required"><em>(<%= @minimum_password_length %> characters minimum)</em>*</abbr></label><%= f.password_field :password, autocomplete: "off",:class => "input-text",:style => "width:100%;" %></p>
              <p class="form-row form-row-wide address-field validate-required" id="shipping_address_1_field"><label for="shipping_address_1" class="">Password Confirmation <abbr class="required" title="required">*</abbr></label><%= f.password_field :password_confirmation, autocomplete: "off",:class => "input-text",:style => "width:100%"  %></p>
             <div class="clear"></div>
            </div>
           </div>
        </div>
        </div>
          <div class="login-footer">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="left-section">
              <%= link_to "Login", login_path %>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 pull-right">
             <%= f.submit 'SIGN UP' ,:class => "btn btn-default-dark col-xs-4  pull-right" %>
            </div>
        </div>
      </div>
    <% end %>


    </div>
</div>
</div>
</div>
</div>
<script>
$(function() { $('form[data-validate]').validate(); })
</script>