<%= form_for @article, validate: true do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="">
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list,:class => "form light-form" %>
  </div>
  <div class="">
    <%= f.label :title %><br>
    <%= f.text_field :title,:class => "form light-form" %>
  </div>
  <div class="">
    <%= f.label :meta_description %><br>
    <%= f.text_area :meta_description,:class => "form light-form" %>
  </div>
  <div class="">
    <%= f.label :is_published %>&nbsp;&nbsp;
    <%= f.check_box :is_published %>
  </div>
  <div class="">
    <%= f.label :post %><br>
    <%= f.cktext_area :post, :id => 'sometext' %>
  </div>
  <div class="">
    <%= f.submit 'SAVE' ,:class => "btn btn-default-dark col-xs-3 btn-xs"%>
     <% if action_name == "edit" %>
         <%= link_to 'CANCEL', article_path(@article),:class => "btn btn-default-dark col-xs-3 btn-xs",:style => "margin-left:10px;" %>
     <% end %>
  </div>
<% end %>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>