<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="" style="padding-top:10px;margin-bottom:0px;">
              Dashboard 
          </h3>
           
          </div>
              <%= render partial: "layouts/shared/flash_msg" %>
      </div>
  </div>
  <!-- /.row -->