
<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
             <%= link_to 'Articles', articles_path,:class => " next_arrow",:style => "" %> <%= link_to @article.title, @article,:class => "next_arrow",:style => "" %>  Edit 
           </h3>
          </div>
      </div>
  </div>
  <!-- /.row -->

<div class="post-form clearfix ">

<div id="main-col" class="">
<%= render 'form' %>
</div>
</div>