<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
              Articles 
              <%= link_to 'New Article', new_article_path,:class => "pull-right",:style => "" %>
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">
      <div id="tag_cloud">
        <% tag_cloud Article.tag_counts, %w[btn btn-default btn-lg] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: "btn btn-default btn-xs",:style => "padding: 10px 15px;" %>
        <% end %>
      </div><br/>
      <div class="table-responsive">
     <% if @articles.present? %>
        <table class="table table-bordered" id ="pages_table">
        <thead>
          <tr>
            <th >User</th>
            <th>Title</th>
            <th >Tags</th>
            <th >Published</th>
            <th ></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
           <% @articles.each do |article| %>
              <tr>
                <td><%= article.user.present? ? article.user.name : 'No Author' %></td>
                <td><%= article.title %></td>
                <td><%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
                <td><%= article.is_published %></td>
                <td style="font-weight:bold"><%= link_to 'Preview', article %></td>
                <td style="font-weight:bold"><%= link_to 'Edit', edit_article_path(article) %></td>
                <td style="font-weight:bold"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
           <% end %>
        </tbody>
      </table>
      <% else %>
            <div class="row text-center">No Articles</div>
         <% end %>
      </div>
      </div>
  <!-- /.row -->

            

<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [4,5,6],
            "bSortable": false
        }
    ];
    var dataTable = $('#pages_table').dataTable({
      "iDisplayLength": 10,
      "aoColumnDefs": aoColumnDefs
    });
});
</script>