
<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
               <%= link_to 'Articles ', articles_path,:class => "next_arrow"  %><%= @article.title%>
              <%= link_to 'Edit', edit_article_path(@article),:class => "pull-right",:style => ""  %>
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">
<div id="main-col" class="blog col-xs-12 col-sm-12 col-md-9">
    
    <article class="post">
      <div class="entry-content">
      <div class="post-date-icon">
        <div class="post-icon">
        <i class="fa fa-camera"></i>
        </div>
        <div class="post-date">
        <span class="day"><%= @article.created_at.strftime("%d")%></span>
        <span class="month"><%= @article.created_at.strftime("%b %Y")%></span>
        </div>
      </div>
      <div class="post-details col-md-10">
      <h3><%= @article.title %></h3>
      <footer class="entry-meta">
      <span class="autor-name"><%= @article.user.present? ? @article.user.name : 'No Author' %></span>
      <span class="meta">  <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
      </footer>
      <p><%= raw @article.post %></p>

  <footer class="entry-meta tags">
  <ul class="list-unstyled">
    <li>
      <span class="blog-icons icon-tags"></span>
      <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %>
    </li>
  </ul>
  </footer>
  </div>
  </div>
  </article>
  </div>
  </div>