<%= form_for(@cms_content_type, validate: true ) do |f| %>
    <div class="">
        <% if @cms_content_type.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@cms_content_type.errors.count, "error") %> prohibited this cms_content_type from being saved:</h2>

            <ul>
            <% @cms_content_type.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_name" style="width:100%">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color" style="padding-bottom:17px;">Name*</label><br /><br/>
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :name,:class => "form light-form",:data => {validate_ajax_url: ''} %>
                </span>
                <div class="help-block" id="admin_image_type_name_error1"> </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_image_type" style="width:100%">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Media Type*<span style="font-size:10px;">(should be Unique, is used to fetch in view)</span></label><br />
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :image_type,:class => "form light-form",:style => "width:100%",:data => {validate_ajax_url: ''} %>
                </span>
                <div class="help-block" id="admin_image_type_image_type_error1"> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_width">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Width*</label>
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :width,:class => "form light-form", :placeholder => "In pixel" %>
                </span>
                <div class="help-block" id="admin_image_type_width_error1"> </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_height">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Height*</label>
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :height,:class => "form light-form", :placeholder => "In pixel" %>
                </span>
                <div class="help-block" id="admin_image_type_height_error1"> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-6">
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_is_video">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Is video</label>
              <div class="col-xs-12 col-sm-12">
                <span class="block input-icon input-icon-right">
                  <label>
                    <%= f.check_box :is_video,:class=>"ace" %>
                    <span class="lbl label-color"> </span>
                  </label>
                </span>
                <div class="help-block" id="admin_image_type_is_video_error1"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'SAVE' ,:class => "btn btn-default-dark col-xs-3 btn-xs"%> 
         <% if action_name == "edit" %>
             <%= link_to 'CANCEL', cms_content_type_path(@cms_content_type),:class => "btn btn-default-dark col-xs-3 btn-xs",:style => "margin-left:10px;" %>
         <% end %>
      </div>
<% end %>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>