<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;"> 
              Cms Contents Types
              <%= link_to 'New Cms content', new_cms_content_type_path,:class => "pull-right" %>
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">

  <% if @cms_content_types.present? %>
        <table class="table table-bordered" id="content_type_table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Image Type (should be Unique, is used to fetch in the View)</th>
            <th>Height</th>
            <th>Width</th>
            <th>Is Video</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
           <% @cms_content_types.each do |cms_content_type| %>
              <tr>
                  <td><%= cms_content_type.name %></td>
                  <td><%= cms_content_type.image_type %></td>
                  <td><%= cms_content_type.height %></td>
                  <td><%= cms_content_type.width %></td>
                    <td><%= cms_content_type.is_video %></td>
                  <td style="font-weight:bold"><%= link_to 'Preview', cms_content_type %></td>
                  <td style="font-weight:bold"><%= link_to 'Edit', edit_cms_content_type_path(cms_content_type)  %></td><td style="font-weight:bold">
                  <% unless cms_content_type.cms_contents.first.present? %>
                  <%= link_to 'Destroy', cms_content_type, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %></td>
              </tr>
           <% end %>
        </tbody>
      </table>
      <% else %>
           <div class="row text-center">No Content Type</div>
     <% end %>
</div>
<br>


<script>
$(document).ready(function(){
  var aoColumnDefs = [
        {
            "aTargets": [5,6,7],
            "bSortable": false
        }
    ];
    var dataTable = $('#content_type_table').dataTable({
      "iDisplayLength": 10,
      "aoColumnDefs": aoColumnDefs
    });
});
</script>