
<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
               <%= link_to 'Cms Content Types ', cms_content_types_path,:class => "next_arrow"  %> 
               <%= link_to @cms_content_type.name, cms_content_type_path(@cms_content_type)%>
              <%= link_to 'Create Cms Content', new_cms_content_type_cms_content_path(@cms_content_type)  , :class => "for_page_load",:class => "pull-right" %>
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">
     <div class="row">
              <div class="col-xs-10 col-sm-10">
                <div id="parent-images-cats" class = "sort_images row" data-update-url="<%= sort_cms_content_type_cms_contents_path(@cms_content_type) %>" style="padding: 20px;">
                  <% @cms_content_type.cms_contents.each do |image| %>
                    <%= content_tag_for(:div, image, :class => "col-sm-2 col-xs-3 img-thumbnail", :style => "margin: 10px;") do %>
                      <i class="ace-icon fa fa-arrows handle" style=""></i>
                      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_cms_content_type_cms_content_path(@cms_content_type,image), :class=>"pull-right" %>
                      <%= link_to '<i class="fa fa-trash"></i>'.html_safe, cms_content_type_cms_content_path(@cms_content_type,image), method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color" %>
                      <%= image_tag image.avatar.url(:thumb),:class=>"" %>

                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
  </div>



<script>
jQuery(function() {
  return $('#parent-images-cats').sortable({
    handle: '.handle',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});
</script>