<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
              Users 
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">
    <% if  @users.present?  %>
      <div class="table-responsive">
      <table class="table table-bordered" id="pages_table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
           <% @users.each do |user| %>
            <tr>
              <td ><%= user.name %></td>
              <td><%= user.designation %></td>
              <td><%= user.email %></td>
              <th style="font-weight:bold"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> </th>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <% else %>
       <div class="row text-center">No Users</div>
    <% end %>
  </div>
  <!-- /.row -->


<script>
jQuery(function() {
  var aoColumnDefs = [
        {
            "aTargets": [3],
            "bSortable": false
        }
    ];
    var dataTable = $('#pages_table').dataTable({
      "iDisplayLength": 10,
      "aoColumnDefs": aoColumnDefs
    });
});
</script>


