<div class="container" style="margin-top:50px;">
   <%= render partial: "layouts/shared/flash_msg" %> 
  <div class="row form_row">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put ,:class => "form-signin1 mg-btm" }, validate: true) do |f| %>
  <%= f.hidden_field :reset_password_token %>
      <h3 class="heading-desc">
   Change your password</h3>
      <%= devise_error_messages! %>
    <div class="main">  
    <%= f.password_field :password, autofocus: true, autocomplete: "off" ,:class => "form-control",:placeholder => "New Password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" ,:class => "form-control",:placeholder => "Re-enter password" %> 
       <% if @minimum_password_length %>
      minimum <%= @minimum_password_length %> characters 
    <% end %>
    <span class="clearfix"></span>  
        </div>
    <div class="login-footer">
    <div class="row">
      <div class="col-xs-4 col-md-4">
           <div class="left-section">
           <%= link_to "Login", login_path %> or <%= link_to "Sign up now", register_path %>
          </div>
                    </div> <div class="col-xs-1 col-md-1"></div>
                    <div class="col-xs-6 col-md-6 pull-right">
                     <%= f.submit 'Change my password' ,:class => "btn btn-default-dark btn-sm col-xs-4  pull-right" %>
                    </div>
                </div>
    
    </div>
     <% end %>
  </div>
</div>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>