<div class="container" style="margin-top:50px;">
  
   <%= render partial: "layouts/shared/flash_msg" %> 
  <div class="row form_row">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,:class => "form-signin1 mg-btm" }, validate: true) do |f| %>
      <h3 class="heading-desc">
    Forgot your password?</h3>
      <%= devise_error_messages! %>
    <div class="main">  
      <%= f.email_field :email, autofocus: true ,:class => "form-control",:placeholder => "Email"%>  <br/>
       <a href="">Are you a admin?</a>
    <span class="clearfix"></span>  
        </div>
    <div class="login-footer">
    <div class="row">
      <div class="col-xs-6 col-md-6">
           <div class="left-section">
           <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><%= link_to "Login", login_path %>
          </div>
          </div> 
          <div class="col-xs-6 col-md-6 pull-right">
           <%= f.submit 'Resend instructions' ,:class => "btn btn-default-dark btn-xs col-xs-4  pull-right",:style =>"font-size:12px;" %>
          </div>
      </div>
    
    </div>
     <% end %>
  </div>
</div>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>