<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="" style="padding-top:10px;margin-bottom:0px;">
              Edit setting
              <%= link_to 'Settings', settings_path,:class => "pull-right",:style => "font-size:12px;" %>
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

<div class="post-form clearfix ">
    <%= form_for(@setting, validate: true) do |f| %>
      <% if @setting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

          <ul>
          <% @setting.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
      <div class = "col-sm-3 col-xs-12"> 
      <%= f.label :avatar,"Avatar" %><br/>
      <%= f.file_field :avatar,:class => "", validate: false%></div>
      <div class = "col-sm-3 col-xs-12"> 
      <%= f.label :favicon,"Favicon" %><br/>
      <%= f.file_field :favicon,:class => "" %></div>
       <div class = "col-sm-6 col-xs-12">
          <%= f.label :company_name,"Company Name" %>
          <%= f.text_field :company_name,:class => "form light-form" %>        
        </div>
      </div><br/>
      <div class="row">
      <div class = "col-sm-6 col-xs-12">
          <%= f.label :fb_link,"Facebook Link" %>
          <%= f.text_field :fb_link,:class => "form light-form" %>        
        </div>
      <div class = "col-sm-6 col-xs-12">
          <%= f.label :tw_link,"Twitter Link" %>
          <%= f.text_field :tw_link,:class => "form light-form" %>
        </div><br />
    </div>
    <div class="row">
      <div class = "col-sm-6 col-xs-12">
          <%= f.label :gp_link,"Google Plus" %>
          <%= f.text_field :gp_link,:class => "form light-form" %>        
        </div>
      <div class = "col-sm-6 col-xs-12">
          <%= f.label :pt_link,"Pinterest" %>
          <%= f.text_field :pt_link,:class => "form light-form" %>
        </div><br />
    </div>
      <div class="actions">
        <%= f.submit 'SAVE' ,:class => "btn btn-default-dark col-xs-3 btn-xs"%> 
        <% if action_name == "edit" %>
             <%= link_to 'CANCEL', settings_path,:class => "btn btn-default-dark col-xs-3 btn-xs",:style => "margin-left:10px;" %>
         <% end %>
      </div>
<% end %>

</div>