<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
              Blog settings
              <% unless @settings.present? %>
              <%= link_to 'New Setting', new_setting_path,:class => "pull-right" %>
              <% end %>
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">
      <div class="table-responsive">
     <% if @settings.present? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                   <th>Avatar</th>
                   <th>Favicon</th>
                  <th>Company Name</th>
                  <th>Facebook Link</th>
                  <th>Twitter Link</th>
                  <th>Google Plus Link</th>
                  <th>Pinterest Link</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @settings.each do |setting| %>
                  <tr>
                      <td>
                          <% if setting.avatar.present? %>
                            <div class="img-rounded">
                                <%= image_tag setting.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:180px;height:140px;" %>
                            </div>
                        <% else %>
                            Not yet updated
                        <% end %> 
                     </td>
                      <td>
                          <% if setting.favicon.present? %>
                            <div class="img-rounded">
                                <%= image_tag setting.favicon.url(:medium),:class => "img-responsive ", :style => "" %>
                            </div>
                          <% else %>
                             Not yet updated
                        <% end %> 
                     </td>
                    <td><%= setting.company_name %></td>
                    <td><%= setting.fb_link.present? ? setting.fb_link : 'Not yet updated' %></td>
                    <td><%= setting.tw_link.present? ? setting.tw_link : 'Not yet updated' %></td>
                    <td><%= setting.gp_link.present? ? setting.gp_link : 'Not yet updated' %></td>
                    <td><%= setting.pt_link.present? ? setting.pt_link : 'Not yet updated' %></td>
                    <td style="font-weight:bold"><%= link_to 'Edit', edit_setting_path(setting) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
    <% else %>
             <div class="row text-center"> Settings Not Yet Created</div>
         <% end %>
         </div>
</div>