<%= form_for(@cms_content, :url => cms_content_type_cms_contents_path(@cms_content_type), validate: true ) do |f| %>
  <% if @cms_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_content.errors.count, "error") %> prohibited this cms_content from being saved:</h2>

      <ul>
      <% @cms_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

       <div class="form-horizontal">
        <div class="">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
            <div class="col-sm-6 col-xs-12">
            <% if @cms_content_type.is_video %>
              <div class="form-group form_group_admin_general_image_avatar row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Video</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right">
                    <%= f.file_field :avatar,:class => "" %>
                  </span>
                  <div class="help-block" id="admin_avatar_error1"> </div>
                </div>
              </div>
            <% else %>
              <div class="form-group form_group_admin_general_image_avatar row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2  no-padding-right label-color">Image</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right" style="padding-top:8px;">
                   <% if f.object.avatar.present? %>
                    <%= image_tag f.object.avatar.url(:thumb),:class => "img-thumbnail" %>
                    <% end %>
                    <%= f.file_field :avatar,:class => "form light-form" %>
                  </span>
                  <div class="help-block" id="admin_avatar_error1"> </div>
                </div>
               
              </div>
            <% end %>
            </div>

              <div class="col-sm-6 col-xs-12">
            <div class="form-group form_group_admin_general_image_ait_text row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2  no-padding-right label-color">Title</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right">
                    <%= f.text_field :title,:placeholder => "Link",:class => "form light-form" %>
                  </span>
                  <div class="help-block" id="admin_general_image_title_error1"> </div>
                </div>
              </div>
              </div>
            <div class="col-sm-6 col-xs-12">
             <div class="form-group form_group_admin_general_image_link">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color" style="text-align:left;">Link*</label>
                <div class="col-xs-12 col-sm-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      https://
                    </span>
                    <span class="block input-icon input-icon-right">
                    <%= f.text_field :link, :class => "blue_textbox form-control   width-100 validate_this", :id => "page_link", :placeholder => "Example : www.example.com" ,:style => "width:107.5%"%>
                    </span>
                  </div>
                  <div class="help-block" id="admin_general_image_link_error1"> </div>
                </div>
               
              </div>
       
              </div>
            <div class="col-sm-6 col-xs-12">
            <div class="form-group form_group_admin_general_image_ait_text row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2  no-padding-right label-color">AltText</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right">
                    <%= f.text_field :alt_text,:placeholder => "Alt text",:class => "form light-form" %>
                  </span>
                  <div class="help-block" id="admin_general_image_alt_text_error1"> </div>
                </div>
              </div>
              </div>
            <div class="col-sm-12 col-xs-12">
            <div class="form-group form_group_admin_general_image_ait_text row">
                <label for="inputError" class="col-xs-12 col-sm-12 col-md-12  no-padding-right label-color">Description</label>
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-12 col-sm-10">
                  <span class="block input-icon input-icon-right">
                    <%= f.cktext_area :description, :id => 'sometext' ,:placeholder => "Description",:class => "form light-form" %>
                  </span>
                  <div class="help-block" id="admin_general_image_description_error1"> </div>
                </div>
              </div>
              </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10">
                <%= f.submit "Save", :class => "btn btn-default-dark col-xs-3 btn-xs" %>
               <% if action_name == "edit" %>
                   <%= link_to 'CANCEL', cms_content_type_path(@cms_content_type),:class => "btn btn-default-dark col-xs-3 btn-xs",:style => "margin-left:10px;" %>
               <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<script>
$(function() { $('form[data-validate]').validate(); })
</script>