<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="" style="padding-top:10px;margin-bottom:0px;">
              Cms Contents 
          </h3>
          <h3 class="" style="padding-top:10px;margin-bottom:0px;">
          </h3>
           
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">
  <% content_for(:head) do %>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    $('#cropbox').Jcrop({
      onChange: update_crop,
      onSelect: update_crop,
      setSelect: [0, 0, 100, 100],
      aspectRatio: 0
    });
  });
  function update_crop(coords) {
    var rx = 100/coords.w;
    var ry = 100/coords.h;
    $('#preview').css({
      width: Math.round(rx * <%= @cms_content.avatar_geometry(:large).width %>) + 'px',
      height: Math.round(ry * <%= @cms_content.avatar_geometry(:large).height %>) + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
    var ratio = <%= @cms_content.avatar_geometry(:original).width %> / <%= @cms_content.avatar_geometry(:large).width %>;
    $("#crop_x").val(Math.round(coords.x * ratio));
    $("#crop_y").val(Math.round(coords.y * ratio));
    $("#crop_w").val(Math.round(coords.w * ratio));
    $("#crop_h").val(Math.round(coords.h * ratio));
  }
  </script>
  <% end %>

  <%= image_tag @cms_content.avatar.url(:large), :id => "cropbox" %>

  <h4>Preview:</h4>
  <div style="width:100px; height:100px; overflow:hidden">
    <%= image_tag @cms_content.avatar.url(:large), :id => "preview",:remote => true %>
  </div>
  <%= form_for @cms_content,:url => cms_content_type_cms_content_path(@cms_content_type,@cms_content) do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, :id => attribute %>
    <% end %><br />
    <p><%= f.submit "Crop", :class => "btn btn-default btn-xs" %></p>
  <% end %>
</div>