<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="" style="padding-top:10px;margin-bottom:0px;">
              Cms Contents 
              <%= link_to 'New Cms content', new_cms_content_path,:class => "pull-right",:style => "font-size:12px;" %>
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">
    <% if  @cms_contents.present?  %>
      <div class="table-responsive">

          <table>
            <thead>
              <tr>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @cms_contents.each do |cms_content| %>
                <tr>
                  <td><%= link_to 'Show', cms_content %></td>
                  <td><%= link_to 'Edit', edit_cms_content_path(cms_content) %></td>
                  <td><%= link_to 'Destroy', cms_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
  </div>


<br>

