
<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
              <%= link_to 'Cms Content Types', cms_content_types_path,:class => "next_arrow"%>
              <%= link_to @cms_content_type.name, cms_content_type_path(@cms_content_type),:class => "next_arrow"%>
              New Cms Content 
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

<div class="post-form clearfix ">
<%= render 'form' %>
</div>