<div class="container" style="margin-top:50px;">
  <%= render partial: "layouts/shared/flash_msg" %> 
  <div class="row form_row" >
     <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-signin1 " }, validate: true) do |f| %>
      <h3 class="heading-desc">
    Login to Admin</h3>
      <%= devise_error_messages! %>
    <div class="main">  
        <%= f.email_field :email, autofocus: true ,:class => "form-control",:placeholder => "Email"%>  
        <%= f.password_field :password, autocomplete: "off",:class => "form-control" ,:placeholder => "Password"%>
        <a href=""> Get started here</a>
      <span class="clearfix"></span>  
    </div>
    <div class="login-footer">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="left-section">
             <%= link_to "Forgot your password?", new_user_password_path %><%= link_to "Sign up now", register_path %>
          </div>
        </div>
        <div class="col-xs-6 col-md-6 pull-right">
           <%= f.submit 'LOGIN' ,:class => "btn btn-default-dark col-xs-4  pull-right" %>
          </div>
      </div>
    </div>
     <% end %>
  </div>
</div>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>