<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 class="breadcrumb_title" style="padding-top:10px;margin-bottom:0px;">
              Subscribers 
          </h3>
          
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="clearfix ">
    <% if @subscribers.present? %>
    <div class="table-responsive">
      <table class="table table-bordered" id="pages_table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Email count</th>
            <th ></th>
          </tr>
        </thead>

        <tbody>
            <% @subscribers.each do |subscriber| %>
              <tr>
                <td><%= subscriber.email %></td>
                <td><%= subscriber.email_count.present? ? subscriber.email_count : 0 %></td>
                <td style="font-weight:bold"><%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
      </div>
      <% else %>
         <div class="row text-center">No Subscribers</div>
      <% end %>
      </div>
  <!-- /.row -->

            


<script>
jQuery(function() {
  var aoColumnDefs = [
        {
            "aTargets": [2],
            "bSortable": false
        }
    ];
    var dataTable = $('#pages_table').dataTable({
      "iDisplayLength": 10,
      "aoColumnDefs": aoColumnDefs
    });
});
</script>


