<section class="shade-section">
      <div class="container-fluid">
            <div class="row">
              <div class="inner-title">
              <ul class="breadcrumb">
                 <% if action_name == "show" %>
                    <li><a href="<%= posts_path%>">Blog</a></li>
                    <li><a class="active" href="#" style="cursor:default;"><%= @post.title %></a></li>
                  <% else %>
                      <li><a style="cursor:default;">Blog</a></li>
                  <% end %>
               </ul>
              </div>
            </div>
      </div>
</section>