<header>
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://<%= request.domain%>" style="padding-top: 4px;">
            <% if @setting.present? %>
                  <% if @setting.avatar.present? %>
                  <%= image_tag @setting.avatar.url(:medium),:class => "img-responsive site_logo",:style=>"width:200px;padding-top: -10px;" %>
                  <% else %>
                      <%= image_tag "samplelogo.png",:class => "img-responsive site_logo",:style=>"width:100px;padding-top: 10px;" %>
                  <% end %>
              <% else %>
               <%= image_tag "samplelogo.png",:class => "img-responsive site_logo",:style=>"width:100px;padding-top: 10px;" %>
              <% end %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
            <ul class="nav navbar-nav navbar-right"><li style ="padding-top: 20px;">  WELCOME TO <%= @setting.present?  ? "#{@setting.company_name}" : "COMPANYNAME" %> BLOG</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</header>



