<aside id="sidebar" role="complementary" class="col-xs-12 col-sm-12 col-md-3 sidebar">
      <% if @recent_posts.present? %>
      <div class="search">
        <%= form_tag posts_path, :method => 'get' do %>
          <p>
            <div class="row">
            <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
            <%= text_field_tag :search, params[:search],:placeholder => "SEARCH" %></div>
            <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2" style ="margin-left: -15px;
padding-left: 0px;">
             <%= button_tag( :class => "background_theme",:style => "padding: 9px 17px;color:white;pull-right") do %>
           <i class="fa fa-search"></i>
          <% end %></div>
            </div>
          </p>
        <% end %>
      </div>
      <% end %><!-- end search -->
      <div class="widget side-posts">
        <h4>Recent Posts</h4>
        <ul>
         <% if @recent_posts.present? %>
            <% @recent_posts.each do |recent_post| %>
               <li>
                <a href="<%= post_path(recent_post) %>">
                  <h5><%= recent_post.title %></h5>
                </a>
                <p class="tcolor" style="cursor:default;"><%= recent_post.user.present? ? recent_post.user.name : 'Author' %></p>
              </li>
            <% end %>
          <% else %>
             No Post Found
          <% end %>
        </ul>
      </div>
      <div class="widget tags">
        <h4>Tags</h4>
        <ul>
          <% if @recent_posts.present? %>
          <% tag_cloud Article.published.tag_counts, %w[s m l] do |tag, css_class| %><li>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %></li>
          <% end %>
          <% else %>
            No Tags Found
          <% end %>
        </ul>
      </div>
      
      <div class="widget archives">
          <h4>Archives</h4>
          <ul>
           <% if @recent_posts.present? %>
            <% @post_months.sort.reverse.each do |month, posts| %>
              <li> <%= link_to  month.strftime('%B %Y') , archives_path(:year=> month.year ,:month => month.strftime("%-m")) %><b>(<%= posts.count %>)</b></li>
            <% end %>
         <% else %>
            No Archives Found
         <% end %>
        </ul>
      </div>
      <div class="widget subscription search">
        <h4>Subscribe</h4>
        <%= form_for(@subscriber) do |f| %>
          <p>
            <div class="row">
              <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
              <%= f.text_field :email ,:placeholder => "SUBSCRIBE" %></div>
              <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2" style ="margin-left: -15px;
padding-left: 0px;">
              <%= button_tag( :class => "background_theme",:style => "padding: 9px 17px;color:white;pull-right") do %>
           <i class="fa fa-envelope"></i>
          <% end %></div>
              </div>
          </p>
        <% end %>
      </div>
    </div>
</aside>