
<div class="portfolio grid-col-2 no-padding" data-layout="masonry" style="min-height:500px;">
      <div class="clearfix"></div>
       <div class="filter-elements">
             <% if @posts.present? %>
                   <% @posts.each do |post| %>
                        <article class="work-element grid-posts ">
                          <div class="entry-content">
                            <h3><%= post.title %></h3>
                            <footer class="entry-meta">
                            <span class="autor-name"><%= post.user.present? ? post.user.name : "Author" %></span>
                            <span class="meta">
                             <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
                            <span class="comments-link">
                              <a href="<%= post_path(post) %>#disqus_thread">0 Comments</a>
                            </span>
                            </footer>
                            <p><%= sanitize(post.post, :tags=>[]).truncate(800, :separator => " ").html_safe  %></p><%= link_to ' Read More', post_path(post),:class => "btn btn-primary animate" %> 
                          </div>
                         </article>
                   <% end %>
            <% else %>
                <div class="row text-center" style ="font-size:20px;margin-top:20%">NO RESULTS FOUND</div>
            <% end %>
      </div>
</div>


<script type="text/javascript">
window.DISQUSWIDGETS = undefined;
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = "<%= $disqus_shortname %>"; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
$(document).ready(function() { 
   $("link").attr("href",$(this).attr('rel'));
var s = document.createElement('script'); s.async = false;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>