<% content_for :title do %><%= @post.title %><% end %>     
 <% content_for :meta_description do %><%= @post.meta_description %><% end %>     
<article class="post">
      <div class="entry-content">
            <div class="post-date-icon">
              <div class="post-icon">
              <i class="fa fa-calendar"></i>
              </div>
              <div class="post-date">
              <span class="day"><%= @post.created_at.strftime("%d")%></span>
              <span class="month"><%= @post.created_at.strftime("%b %Y")%></span>
              </div>
            </div>
            <div class="post-details col-md-10 col-xs-12 col-sm-12">
                   <h3><%= @post.title %></h3>
                   <footer class="entry-meta">
                         <span class="autor-name"><%= @post.user.present? ? @post.user.name : 'Author'%></span>
                         <span class="meta"><div class="pull-right"></div>
                              <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
                          <span class="comments-link">
                             <a href="<%= post_path(@post) %>#disqus_thread">0 Comments</a>
                          </span>
                    </footer>
                    <p><%= raw  parse_shortcode(@post) %> </p>

                    <footer class="entry-meta tags">
                          <ul class="list-unstyled">
                                <li>
                                  <span class="blog-icons icon-tags"></span>
                                  <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %>
                                   <div id="top-bar-social" class="clr top-bar-right social-style-font_icons">
                                       <!-- fb-share -->
                                       <div class="fb-share-button pull-right" data-href="<%= request.path %>" data-layout="button_count" style="margin-top: -36px;"></div>  &nbsp;&nbsp;
                                       <!-- gplus-share -->
                                        <a class='share_on_gplus g-plus' target = "_blank" data-social-action='share' data-medium='googleplus' data-content='q_name' href='https://plus.google.com/share?url=encodeURIComponent(<%= request.host %><%= request.path%>)' style="margin-top:-22px;">
                                            <%= image_tag("googlepluss.png",:style => 'height:23px;width:68px;')%> 
                                        </a>
                                        <!-- linkedin-share -->
                                        <a target = "_blank" href='http://www.linkedin.com/shareArticle?mini=true&url=<%= post_url(@post)%>&title=<%= @post.title %>&summary=<%= sanitize(@post.post, :tags=>[]).truncate(800, :separator => " ").html_safe %>&source=<%= root_path %>' role="menuitem" tabindex="-1" target="_blank">
                                           <%= image_tag("linked_in.png",:style => "height:22px;margin-top:-44px;")%>
                                        </a>
                                       <!-- tweeter-share -->
                                        <%= link_to "#{image_tag('tweet.png',:style => 'height:22px;margin-top:-44px')}".html_safe, "http://twitter.com/home?status=#{@post.title} #{post_url(@post)}",:class=>"",:target => "_blank" %>   
                                   </div>
                                 </li>
                          </ul>
                   </footer>
            </div>
    </div>
</article>
<%= disqus_init %>
<%- disqus_thread %>
<div id="disqus_thread"></div>


<script>
  window.fbAsyncInit = function() {
      FB.init({
        appId      : ' 314922028632772',
        xfbml      : true,
        display : 'page',
        version    : 'v2.1'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
</script>  
<script src="https://apis.google.com/js/client.js"></script>
<script type="text/javascript">
    function load() {
        gapi.client.setApiKey('AIzaSyCI6g4bQ2N0l9jo8TtLdVbeW503GOxPsi4');

      }

    window.___gcfg = {
    lang: 'en-US',
    parsetags: 'onload'
    };

  (function() {
    var po = document.createElement('script'); 
    po.type = 'text/javascript'; 
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js?onload=load';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

</script>
<script>
 $(document).on('page:change', function () {
        var disqusPublicKey = "gWCPmAqsxLOlt8ABwbrKkl3x7kI5we63DGzjcJRm0iTYrOavgW4s3zwN2S21B7V9"; // Replace with your own public key
        var disqusShortname = "<%= $disqus_shortname %>"; // Replace with your own shortname

        var urlArray = [];

        $('.comment-link-marker').each(function () {
          var url = $(this).attr('data-disqus-url');
          urlArray.push('link:' + url);
        });

        $.ajax({
          type: 'GET',
          url: "https://disqus.com/api/3.0/threads/set.jsonp",
          data: { api_key: disqusPublicKey, forum : disqusShortname, thread : urlArray },
          cache: false,
          dataType: 'jsonp',
          success: function (result) {

            for (var i in result.response) {

              var countText = " comments";
              var count = result.response[i].posts;

              if (count == 1)
                countText = " comments";
               alert(count + countText);
              $('a[data-disqus-url="' + result.response[i].link + '"]').html(count + countText);

            }
          }
        });
      });

window.DISQUSWIDGETS = undefined;
     /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = "<%= $disqus_shortname %>"; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<style>
a.pin-it-button{
  margin-bottom:-20px !important;
  position:absolute !important;
  z-index: 100000 !important;
}
a[data-pin-log="button_pinit"] {
    margin-bottom:-20px !important;
    position:absolute !important;
    z-index: 100000 !important;
}
</style>


